p.pro {
    width: 200px;
    height: 200px;
    outline: 10px solid rgb(131, 0, 0);
    background-color: tomato;
    overflow: scroll;
}
img.jay{
    float: right;
    margin: 10px;
    margin-right: 15px;
}
img.fe{
    float: left;
    margin: 10px;
    margin-right: 15px;
}
img.go{
    float: right;
    margin: 10px;
    margin-right: 15px;
}
img.cola{
    float: left;
    margin: 10px;
    margin-right: 15px;
}
img.ga{
    float: right;
    margin: 10px;
    margin-right: 15px;
}
body {
    background-color: rgb(93, 35, 17);
}
